{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EzQuery</title>
  <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


  <!-- SCROLLABLE DIV-->

  <style type="text/css">
    div.scroll {
      margin: 4px, 4px;
      padding: 4px;
      width: 400px;
      height: 720px;
      overflow-x: hidden;
      overflow-x: auto;
      text-align: justify;
    }
  </style>

</head>



<body>
  <div class="row">
    <div class="col-8">
      <div class="container">

        <div class="msg-header">
          <div class="msg-header-img">
            <img src="{% static 'chat/images/user2.png' %}" alt="">
          </div>
          <div class="active">
            <h4>EZ-Query Sahaayak</h4>
            <h6>Online</h6>
          </div>
          <div class="header-icons">
            <i class="fa fa-info-circle"></i>
          </div>
        </div>

        <div class="chat-page">
          <div class="msg-inbox">
            <div class="chats">
              <div id="mainScreen" class="msg-page">
                <!-- from here it will repeat -->
                <div class="received-chats">
                  <!-- <div class="received-chats-img">
                    <img src="{% static 'chat/images/user2.png' %}" alt="">
                  </div> -->
                  <div class="received-msg">
                    <div class="received-msg-inbox">
                      <p>Hi there!! I am here to solve your Queries.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Send text Input textbox -->
          <div class="msg-bottom">
            <div class="bottom-icons">
              <button class="btn" id="startRecord"><i class="fa fa-microphone"></i></button>
              <button id="stopRecord" class="btn"><i id="stopFA" class="fa fa-square"></i></button>
              <a class="fa fa-smile-o"></a>
            </div>
            <div class="input-group">
              <input id="queryInput" type="text" class="form-control" placeholder="Type your Query">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-paper-plane" id="sendQuery"></i></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container scroll">
        <h3>TABLES AND COLUMNS</h3>
        <h6>refer them while querying</h6>
        <div class="accordion" id="accordionExample">
          {% for key, value in tables.items %}
          <div class="card">
            <div class="card-header" id={{key}}heading style="background-color: #219ff6">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{key}}collapse"
                  aria-expanded="true" aria-controls={{key}}collapse style="color: white">
                  {{key}}
                </button>
              </h5>
            </div>

            <div id={{key}}collapse class="collapse show" aria-labelledby={{key}}heading
              data-parent="#accordionExample">
              <div class="card-body" style="background-color: #baf6f7">
                {% for column_name in value %}
                <button type="button" class="btn btn-info">{{column_name}}</button>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'chat/js/main.js' %}"></script>
</body>

</html>