<!DOCTYPE html>
<html>
<head>
	<title>Visualize Detail</title>
</head>
<body>
	<div style="color:">
		<h1>Get <span style="color: black">VISUALIZATIONS</span> here !!</h1>
		<div>
          {% for key, value in tables.items %}
          <div class="card" style="width: 500px">
            <div class="card-header" id={{key}}heading style="background-color: #baf6f7">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{key}}collapse"
                  aria-expanded="true" aria-controls={{key}}collapse style="color: white;height: 80px;font-size: 50px;background-color: #219ff6">
                  {{key}}
                </button>
              </h5>
            </div>
              <div class="card-body" style="background-color: #219ff6">
                {% for column_name,domain in value.items %}
                <button type="button" class="btn btn-info" style="height: 50px;background-color:#baf6f7;color: black">{{column_name}}</button>
                <button type="button" class="btn btn-info">{{domain}}</button>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
	</div>
</body>
</html>