{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualization</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<!-- in below code allowing only those checkbox for specific radio button is remaining, and atmost two checkbox also remaining-->

<body>
  <br>
  <br>
  <div style="text-transform: capitalize;">
    <form action="post" id="table_fields">
      {% csrf_token %}
      {% for key, value in tables.items %}
      <input type="radio" id={{key}} name="table" value={{key}}>
      <label for={{key}} class="btn btn-danger">{{key}}</label><br>
      {% for column_name,domain in value.items %}
      <input type="checkbox" id="{{column_name}}:{{domain}}" name="{{column_name}}:{{domain}}"
        value="{{column_name}}:{{domain}}">
      <label for="{{column_name}}:{{domain}}" class="btn btn-light"> {{column_name}}<span
          class="text-muted">({{domain}})<span></label>
      {% endfor %}
      <br>
      <br>
      {% endfor %}
      <button type="submit" class="btn btn-success">Get Visualization</button>
    </form>
  </div>
  <script src="{% static 'chat/js/visualize.js' %}"></script>
</body>

</html>